xslt-sketching/content.dtd

<!ELEMENT content (entry*)>
<!ATTLIST content title CDATA #REQUIRED>
<!ELEMENT entry (title, url, published, summary, author, image?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT published (#PCDATA)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT author (name, url)>
<!ELEMENT image (#PCDATA)>
